.account_wrapper h1{
    margin-top: 20vh;
    text-align: center;
}

.account_wrapper form {
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group {
    min-width: 45%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: "subset-AvantGarde-Bold";
    text-transform: uppercase;
}

.form-group input {
    background-color: #24272d;
    border: 1px solid rgb(161, 161, 161);
    margin-top: 5px;
    padding: 10px 5px;
    color: #fff;
}

.btn-submit {
    min-width: 40%;
    max-width: 40%;
    text-align: center;
}

.btn-submit input {
    width: 100%;
    padding: 10px 0;
    font-family: "subset-AvantGarde-Bold";
    text-transform: uppercase;
    background-color: rgb(204, 159, 83);
    cursor: pointer;
}
