main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main img {
    width: 30%;
}

form, .link_wrapper {
    width: 80%;
}

.form-group input {
    background-color: #24272d;
    border: 1px solid rgb(161, 161, 161);
    margin: 10px 0;
    padding: 10px 5px;
    width: 100%;
    color: white;
}

.link_wrapper .btn-submit {
    width: 100%;
    padding: 10px 0;
    font-family: "subset-AvantGarde-Bold";
    text-transform: uppercase;
    background-color: rgb(204, 159, 83);
    display: flex;
    justify-content: center;
}

.link_wrapper .btn-submit a {
    text-decoration: none;
    color: #24272d;
    font-size: 1.4rem;
}

.btn-submit input  {
    width: 100%;
    padding: 10px 0;
    font-family: "subset-AvantGarde-Bold";
    text-transform: uppercase;
    background-color: rgb(204, 159, 83);
    font-size: 1.4rem;
}

form .btn-submit input {
    cursor: pointer;
}

.link_wrapper {
    text-align: center;
    margin: 15px 0;
}

.link_wrapper a {
    text-decoration: none;
    color: white;
}

.link_wrapper hr {
    margin: 20px 0;
}